@tailwind base;
@tailwind components;
@tailwind utilities;

  .ltr- {
    direction: ltr !important;
  }

@font-face {
  font-family: kalameh;
  src: url(../fonts/KalamehWeb-Black.woff2);
  font-weight: bolder;
}
@font-face {
  font-family: kalameh;
  src: url(../fonts/KalamehWeb-Bold.woff2);
  font-weight: bold;
}
@font-face {
  font-family: kalameh;
  src: url(../fonts/KalamehWeb-Regular.woff2);
  font-weight: normal;
}
body {
  margin: 0;
  font-family: kalameh, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  @apply text-black;
}

h4 {
  @apply text-gold;
}
h2::after {
  @apply block h-1 mt-2 w-20 bg-gold;
  content: '';
}
h2 {
  @apply font-bold text-black;
}
p {
  @apply text-black;
}
hr {
  @apply w-full border-gray-100;
}
main > * {
  @apply md:mb-14 mb-[85px]; 
}
input, textarea {
  @apply outline-none px-5 text-sm py-3 bg-gray-200 bg-opacity-60 border-b border-gray-300;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
th {
  @apply font-normal;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.overlay {
  @apply h-full w-full absoluteTopRight bg-black bg-opacity-0;
}
.w-5\/6 {
  width: 83%;
  max-width: 1000px;
} 
.btn {
  @apply hover:text-inherit py-2 px-5 md:cursor-pointer cursor-default text-sm duration-300  flex justify-center items-center !border border-transparent transition-colors;
}
.notyf__wrapper {
  @apply !pr-0 w-[250px];
}
.notyf__icon {
  @apply relative left-3;
}
.absoluteTopRight {
  @apply absolute top-0 right-0;
}
.sliderContainer > div:last-child {
  @apply md:w-1/2 w-[80%] !ml-auto;
}
.danger-btn {
  @apply hover:bg-red-600 bg-transparent hover:!text-white text-red-600 border-red-600 border;
}
.gold-btn {
  @apply bg-gold hover:!bg-transparent hover:text-gold border-gold border text-white;
}
nav > div > div > button {
  @apply hover:text-gold;
}
/* .primary-btn {
  @apply !text-white;
}
.general-btn:hover > i {
  @apply invert;
} */
.primary-btn {
  @apply hover:!text-black !text-white bg-black hover:bg-transparent border-black;
}
.general-btn {
  @apply hover:!text-white !text-black border-black hover:bg-black;
}
.secondray-btn {
  @apply hover:border-black;
}
.circle {
  @apply rounded-full px-3 py-3 inline-block;
}

.animateChilds > *{
  @apply transition-all transform translate-y-full opacity-0 delay-500;
}

.productSlider::-webkit-scrollbar {
  height: 3px;
    
}
.productSlider::-webkit-scrollbar-thumb {
  background: rgb(235, 235, 235); 
}
:disabled {
  @apply opacity-50 pointer-events-none;
}
#pageCounter > .currentPage {
  @apply bg-gold hover:bg-transparent hover:text-gold border-gold border;
}
#pageCounter > *:not(.gold-btn) {
  @apply bg-gray-50 hover:bg-gray-100 transition-colors ml-3 px-3;
}
a, a > * {
  @apply hover:!text-gold transition-colors;
}
.mainPart {
  @apply flex justify-between items-center w-5/6  mx-auto flex-col;
}
tr > * {
  @apply p-4;
}
#navbarLinks > button {
  @apply ml-3;
}